.resume-container {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .main_content {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
  }
  
  .sidebar-open {
    /* transform: translateX(-100%); */
  }
  
  .right-content {
    flex: 1;
    padding: 20px;
    transition: transform 0.6s, width 0.6s;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* background-color: #2C4AE9; */
  }
  
  .right-content.right-content-shifted {
    /* transform: translateX(-25%); */
    width: 100%;
    max-width: max-content;
    transition: transform 0.6s, width 0.6s;
  }
  
  .right-content-shifted {
    width: 100%;

    transition: transform 0.6s, width 0.6s;
  }
  
  .splitresume {
    width: 0%;
    border: 1px solid #BDBDBD;
    border-top: 1px white;
    border-bottom: 1px white;
    transition: transform 0.6s, width 0.6s;
    display: flex;
   
    justify-content: center;
    overflow-y: auto;
    transition: transform 0.6s, width 0.6s;
  background-color: #e7e9eb;
  }
  @media screen and (max-width: 1494px) {
  .Learning_center {
      width: 0%;
    }
  }

  .sidebar-open {
    width: 20%;
    height: 100%;
    transition: transform 0.6s, width 0.6s;
  }
  
  .sidebar-open .right-content {
    width: 100%;
    transform: translateX(0);
  }

  .Learning_center {
  /* background-color: red; */
    padding-top: 20px;
    width: 100%;
    height: 100%;
  }
  
  .menu-arrow {
    position: relative;
    margin: auto;
    color: #9faac0;
    font-size: 25px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  /* footer */
  .footer {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    border: 1px solid #BDBDBD;
    display: flex;
    align-items: center;
    bottom: 0;
  
  }

  .footer_split {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 52px;
    padding-left: 50px;
    background-color: black;
    color: white;
  }
  .listside {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .listside li:hover {
    color: orange; /* Change the color to your desired hover color */
  }
  .menu-item {
    transition: border-bottom 0.3s ease;
}